/* font-family: 'Abril Fatface', cursive;
font-family: 'Questrial', sans-serif; */

:root {
  --gradientPinkOr: linear-gradient(
    44deg,
    rgba(233, 70, 138, 1) 0%,
    rgba(249, 184, 76, 1) 100%
  );
  --gradientPinkSky: linear-gradient(
    44deg,
    rgba(233, 70, 138, 1) 0%,
    rgba(76, 226, 249, 1) 100%
  );
  --gradientBlue: linear-gradient(
    44deg,
    rgba(11, 30, 69, 1) 36%,
    rgba(76, 226, 249, 1) 100%
  );
  --gradientBluePink: linear-gradient(
    44deg,
    rgba(11, 30, 69, 1) 11%,
    rgba(233, 70, 138, 1) 100%
  );
  --or: #f9b807;
  --pink: #e9468a;
  --sky: #61dafb;
  --darkBlue: #0b1e45;
  --lightGrey: rgb(175, 175, 175);
}

body {
  background-color: #282c34;
  color: white;
  font-family: "Questrial", sans-serif;
  height: 100vh;
  /* line-height: 2rem; */
  margin: 0;
  padding: 30px 80px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
nav a:hover {
  color: var(--or);
}

.activeNav {
  color: var(--sky);
}

button {
  width: 200px;
  height: 40px;
  font-family: "Questrial", sans-serif;
  border: none;
  background: var(--gradientPinkOr);
  border-radius: 40px;
  color: white;
  /* margin: 5px; */
}

button:hover {
  font-family: "Questrial", sans-serif;
  border: 2px solid var(--or);
  border-radius: 40px;
  color: var(--or);
  background: transparent;
}

button:active,
button:focus {
  outline: none;
}

button.blue {
  background: var(--gradientBlue);
}
button.blue:hover {
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  background: transparent;
}
